@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle farthest-corner at -0.6% 44.4%,
      rgba(142, 252, 152, 1) 0%,
      rgba(107, 214, 250, 1) 90%);
  background-size: 200%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  animation: gradient 5s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #fff;
  outline: none;
  font-family: "Poppins", sans-serif;
}

form button {
  color: #07C8F9;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: rgba(107, 214, 250, 1);
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #eb4e65;
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #3db170;
}

.trash-btn i,
.complete-btn i {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.46;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}